#------------------------------------------------
snippet start "Entrada desktop" b
[Desktop Entry]
Name=${1:tab:nome-aplicacao}
Exec=${2:tab:path-executavel}
Comment=${3:tab:comentário}
Terminal=${4:tab:true-or-false}
Icon=${5:tab:icon}
Type=Application $0
endsnippet

#------------------------------------------------

