#                     __      
#    ____ ___  ____ _/ /_____ 
#   / __ `__ \/ __ `/ //_/ _ \
#  / / / / / / /_/ / ,< /  __/
# /_/ /_/ /_/\__,_/_/|_|\___/ 
#                             
#------------------------------------------------
snippet start "Compilacao Básica GDB" b
bin: ${1:nomeArquivo}.o
	gcc -o ${2:nomeExecutável} $1.c -g -Wall 
$0
endsnippet
#------------------------------------------------
